body {
    font-family: sans-serif;
    background-image: url(../img/cielo.png);
    background-color: #14addb;
  }
  
  .section {
    width: 500px;
    margin: 100px;
    padding: 5px;
    background-color: #619c149f;
  }
  
  h1 {
    text-align: center;
    color: #000;
    font-size: 2em;
  }
  
  img {
    float: unset;
    width: 600px;
    margin: 20px;
    padding: 10px;
  }
   img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .cuadro1, .cuadro2 {
    width: 100%;
    float: right;
    padding: 10px;
  }
  
  p {
    color: #000;
    font-size: 1em;
    text-align: justify
  }
  @media (max-width: 768px) {
    .section {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    img {
        width: 100%;
        margin: 10px;
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    .cuadro1, .cuadro2 {
        max-width: 100%;
        
        padding: 10px;
    }

    p {
        font-size: 1em;
    }
   }
